<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>
    <style>
        header{
            background: black;
        }
        nav{color:aliceblue;margin:0 auto;text-align: center; max-width: 800px;}
        main{
            background: #0030a6;
            outline: red 1px solid;
            margin: auto;
            height: 90vh;
            max-width: 800px;
        }
        footer{
            background: black;
        }
    </style>
</head>
<body>
    <header><nav>navigation</nav></header>
    <main>main</main>
    <footer>footer</footer>
</body>
<script src="../public.js"></script>

</html>